.slider {
  display: flex;
  align-items: center;
  color: var(--color-primary1);
}

.slider-text {
  padding: 0 25px;
  font-weight: bold;
  font-size: 25px;
}

.switch-container {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 30px;
}

.switch-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-primary1);
  border-radius: 34px;
}

.switch:hover{
  background: var(--color-primary3)
}

.switch:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background: var(--color-white);
  transition: 0.2s;
  border-radius: 50%;
}

input:checked + .switch:before {
  transform: translateX(26px);
}