.error{
  width: 80vw;
  margin: 6rem auto 5rem;
  height: fit-content;
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-img img{
  width: min(100%,600px);
}

.error-button{
  background-color: var(--color-primary1) !important;
  margin-top: 2rem;
  transition: 0.4s;
}

.error-button:hover{
  background-color: transparent !important;
  color: var(--color-primary1);
}