.home-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  background-image: url('/svgs/bg1.svg'), linear-gradient(180deg, rgba(212, 255, 252,0.6) 0%, rgba(234, 240, 255, 0.00) 100%);
  background-repeat: repeat-x;
  animation: animateBg 30s linear infinite alternate-reverse;
}

@keyframes animateBg {
  from {
      background-position: 0 0;
  }

  to {
      background-position: 100% 0;
  }
}

.home-content{
  width: 80%;
  max-width: 1400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
  text-align: center;
  position: relative;
  padding-top: 8rem;
}

.home-content .left-col{
  flex-basis: 40%;
  text-align: left;
  padding: 4rem 0;
}

.home-content .right-col{
  flex-basis: 55%;
}

.home-content .left-col .title{
  color: var(--color-secondary4);
  text-transform: capitalize;
  font-weight: 900;
  margin-bottom: .6rem;
}

.home-content .left-col .sub_title {
  font-weight: 400 !important;
  color: var(--color-dark-grey);
  text-transform: capitalize;
  margin-top: 1rem;
}

.promo_text_container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

.white_promo_text{
  font-size: 25px;
  font-weight: 600;
  color: transparent;
  user-select: none;
  margin-right: 15px;
  position: relative;
  z-index: -100;
}

promo_text_num1

.home-content .left-col .offer{
  margin-top: .6rem;
  font-weight: 500;
  color: var(--color-secondary4);
}

.free_forever_div{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: bolder;
  color: var(--color-primary1);
  width: 100%;
  position: absolute;
  left: 34%;
  bottom: 34%;
}

.free_forever_div p{
  white-space: nowrap;
}

.home-content .left-col .home-btns{
  width: 100%;
  margin: 45px auto 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  z-index: 100 !important;
}

.home-content .left-col .btn {
  padding: 10px 14px;
  width: 220px;
}

.home-content .left-col .howtousebtn{
  color: var(--color-primary1);
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid var(--color-primary1) !important;
  background-color: transparent;
  z-index: 1000;
  font-weight: 600;
}

.home-content .left-col .howtousebtn:hover{
  background-color: var(--color-secondary3);
  border: 2px solid var(--color-black) !important;
  color: var(--color-white);
}
/* 
.home-content .right-col img{
  width: min(100%, 750px);
} */

.home-content .right-col {
  margin-top: 4rem;
  display: flex;
  position: relative;
}

.home-content .right-col .girl{
  margin-top: 3rem;
  width: min(80%, 450px);
}

.home-content .right-col .objects{
  position: absolute;
  top: -10%;
  right: -5%;
  width: min(60%,350px);
}

.home-content .right-col .objects img{
  width: 100%;
}

@media (max-width: 980px) {
  .home-content .title{
    width: 90%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 860px) {
  .home-content {
    width: 90%;
  }
  .home-content .title{
    width: 95%;
  }
  .chat-support {
    top: auto;
    bottom: 4vh;
  }
  .home-content .left-col .btn{
    width: 200px;
  }
  .home-content img{
    width: 60%;
  }
}

@media (max-width: 580px) {
  .home-content {
    padding-top: 8rem;
  }
  .home-content .left-col .btn {
    width: 160px;
  }
  .home-content img{
    width: 70%;
  }
}

@media (max-width: 480px) {
  .home-content {
    padding-top: 7rem;
  }
  .home-content .home-btns{
    flex-direction: column;
  }
  .home-content .left-col .btn{
    padding: 6px 12px;
    width: max-content;
  }
  .home-content img{
    width: 95%;
  }
}

@media (max-width: 1440px) {
  .home-content .right-col .girl{
    width: min(70%, 400px);
  }
  
  .home-content .right-col .objects{
    top: -8%;
    right: -6%;
    width: min(60%,300px);
  }
}

@media (max-width: 1340px) {
  .home-content .right-col .girl{
    width: min(65%, 400px);
  }
  
  .home-content .right-col .objects{
    right: -2%;
    width: min(60%,250px);
  }
}
/* 
@media (max-width: 1320px){
  .free_forever_div{
    font-size: 30px;
  }
}

@media (max-width: 1200px){
  .free_forever_div{
    font-size: 28px;
  }
} */


@media (max-width: 1140px) {
  .home-content .right-col .girl{
    width: min(63%, 400px);
  }
  
  .home-content .right-col .objects{
    right: -2%;
    width: min(50%,250px);
  }
}

@media (max-width: 1060px) {
  .right-col{
    display: none !important;
    flex-basis: 0%;
  }
  .left-col{
    flex-basis: 80% !important;
    text-align: center !important;
  }
  .home-content .left-col .title{
    width: 100%;
  }
  .home-content .left-col .home-btns{
    justify-content: center;
  }
}