.main-feature-section{
  width: 100%;
  background-size: cover;
  background: linear-gradient(180deg, #e2effa 0%, #009A8888 100%);
  padding: 8rem 2rem 4rem;
}

.main-features-content{
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

.features-slider{
  margin-top: 2rem;
}

.features-grid{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
}

.main-feature-section .features-slider .slick-next::before,
.main-feature-section .features-slider .slick-prev::before{
  color: var(--color-primary1) !important;
  font-size: 40px; 
}

.main-feature-section .features-slider .slick-next::before{
  margin-left: 10px;
}
.main-feature-section .features-slider .slick-prev::before{
  margin-left: -15px;
}

.main-feature-section .features-slider .slick-next::before:hover{
  color: var(--color-primary2) !important;
}

.main-feature-section .features-slider .slick-dots li button:before{
  color: var(--color-primary1) !important;
  margin-top: 1rem;
}

.main-feature-section .features-slider .slick-dots li.slick-active button:before{
  scale: 1.6;
}

@media (max-width: 1200px) {
  .features-grid{
    grid-template-columns: auto auto;
  }
  .main-feature-section{
    padding: 8rem 1rem 4rem;
  }
}

@media (max-width: 800px) {
  .features-grid{
    grid-template-columns: auto;
  }
  .feature-card{
    width: min(400px,90%);
  }
}