.terms-of-use {
  width: 100%;
  max-width: 1400px;
  margin: 10rem auto 0px;
}

.terms-container {
  display: flex;
  align-items: start;
  justify-content: center;
  width: min(90%, 900px) !important;
  flex-direction: column;
  margin: 0px auto;
}

.terms-container .term {
  text-align: justify;
  margin-bottom: 20px;
}

.terms-container .term-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.terms-container .term-content {
  font-size: 16px;
}

.terms-container .term-content a {
  color: var(--color-primary1);
  text-decoration: none;
}
